body {
	background-color: white;
	font-family: Perpetua;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0;
}

html {
		overflow-x: hidden;
		height: 100%;
		width: 100%;
}

@media screen and (max-width: 800px) {

    .new-image img {

         max-width: 250px;
				 height: 200px;
    }
}

@media screen and (max-width: 800px) {

    .new-text p {

         width: 180px;
    }
}

@media screen and (max-width: 800px) {

    .new-image2 img {

         max-width: 250px;
				 height: 200px;
    }
}

@media screen and (max-width: 800px) {

    .new-text2 p {

         width: 180px;
    }
}

@media screen and (min-width: 600px)
{
    .header-container
    {
				margin-top: 0;
    }
}


.clearboth {
	clear:both;
}

.header-container {
  text-align: center;
  margin-top: -2.8%
}

.triangle1 {
  text-align: right;
}

.triangle2 {
  padding: 0;
  margin-top: -20%;
}

.shape-image img {
  max-width:100%;
    height:auto;
}

.header-image img {
  max-width:100%;
    height:auto;
}

.whats-new{
	display: flex;
  margin-left: 5%;
}

.whats-new2 {
	display: flex;
  margin-left: 9%;
	margin-top: 2%;
}

.new-text {
  text-align: center;
  margin-top: 7%;
	margin-left: 20px;

}

.new-text p {
	word-wrap: break-word;
	font-size: 1em;
}

.new-text2 {
  text-align: left;
  margin-top: 6%;
	margin-left: 20px;
}

.new-text2 p {
	word-wrap: break-word;
	font-size: 1em;
}

.bar-tech {
	margin-top: 1%;
	margin-left: 25%;
}

.bar-tech-image img {
	max-width:100%;
    height:auto;
}

.bar-tech2 {
	margin-top: 1%;
	margin-left: 2em;
	text-align: center;
}

.bar-tech2-image img {
	max-width:100%;
    height:auto;
}

.new-tech {
margin-left: 28.6%;
}

.new-tech-image img {
	max-width:100%;
    height:auto;
}

.row {
  display: flex;
}

.column {
	margin: 5% 10% 0 5.5%;
}

.column img {
	max-width:100%;
    height:auto;
}

.column2 {
	margin-top: 1%;
}

.column2 img {
	max-width:100%;
    height:auto;
}

.column3 {
	margin: 3% 10% 0 5.5%;
}

.column3 img {
	max-width:100%;
    height:auto;
}

.column4 {
	margin-top:-3%;
}

.column4 img {
	max-width:100%;
    height:auto;
}

.neuro {
	margin: -5% 0 0 8%;
}

.neuro img {
	max-width:100%;
    height:auto;
}

.team {
	margin: 0 0 0 8%;
}

.team img {
	max-width:100%;
    height:auto;
}

.frank {
	margin: -3% 0 0 7%;
}

.frank img {
	max-width:100%;
    height:auto;
}

.michael {
	margin: 2% 0 0 20%;
}

.michael img {
	max-width:100%;
    height:auto;
}

.feature {
	margin: -7% 0 0 18%;
}

.feature img {
	max-width:100%;
    height:auto;
}

.feature-sub-image {
	margin: 1% 0 -2% 3%;
}

.feature-sub-image img {
	max-width:100%;
    height:auto;
}

p {
    width:;
	line-height:25px;
	font-size: 1.6vh;
	font-family: Perpetua;
	color: #15609f;
}

h2 {
	font-family: Perpetua
}

.spacer2 {
	height:54px;
	background-color: #15609f;
	margin-top: 2%;
}

.spacetext {
	text-align:center;
	padding-top:20px;
	color: white;
	margin: 0px auto;
	text-decoration:none;
}

.spacetext a:link {
	color: white;
	text-decoration: none;
}

.spacetext a:visited {
    color: white;
		text-decoration: none;
}

.spacetext a:hover {
    color: grey;
		text-decoration: none;
}
